*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color:  #f8f7f7;;
    display:flex;
    font-family: sans-serif;
}
.container{

     width: 100%;
    height: 100vh;
    position: relative;

}

.container form{
     width: 435px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    /* background-color: rgb(253,253,253); */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(158,201,250,.3);;
}
.container form .imagelogo{

    display: block;
      margin: 0 auto;
      max-width: 180px;
      align-items: center;
      margin-bottom: 20px;
}
.container form .form-control{
    width :100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}
.container form .btn{
    width: 100%;
    height: 34px;
    background: #8f23e7;
    outline: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
    padding: 8px 16px;
}
.container form .signin{
      text-align: center;
      font-size: small;
    padding: 12px 0;

}
.container form .forgot{
      text-align: center;
      font-size: small;
    padding: 12px 0;

}
a{
    text-decoration: none;
}
.form-group label{
    font-size: 14px;
}
.container form .line{
   
    border: 0;
    height: 1px;
    background: rgb(165, 160, 160);
    display: flex;   
    margin: auto;
    /* margin-top: 20px; */
    top: 1px;
    width: 70%;

}
.container form .btn:hover{
    opacity: .9;
}




@media (max-width: 501px) {
  html {
    font-size: 15px;
  }

  .container form {
    width: 300px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .container form {
    width: 450px;
  }
}

@media (min-width: 765px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }

  .container form {
    width: 540px;
    height: 550px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .container {
    height: 100vmax;
  }
}